{% load static %}
{% load i18n %}
{% load user_type_tags %}
{% load url_filter_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sheet storm{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
    />
    <link
        rel="shortcut icon"
        href="{% static 'images/favicon.ico' %}"
        integrity="{% staticinline 'images/favicon.ico' encode="sri" %}"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'users/center_style.css' %}"
        integrity="{% staticinline 'users/center_style.css' encode="sri" %}"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300"
        integrity="sha256-9o7gAoB+6uFtiO7i3Gkm2niiy1qOx3zwAmcm0B8b668="
        crossorigin="anonymous"
    >
    {% block extra_head %}{% endblock %}
</head>
<body>
{% if user.is_authenticated %}
{% get_admin_user_type as admin %}
{% get_manager_user_type as manager %}
{% url 'home' as home_url %}
{% url 'custom-user-update' as account_url %}
{% url 'custom-users-list' as custom_users_list_url %}
{% url 'custom-projects-list' as custom_projects_list_url %}
{% url 'custom-users-notifications' as custom_users_notifications %}
{% url 'logout' as logout_url %}
{% now "Y" as year_for_urls %}
{% now "n" as month_for_urls %}
{% url 'custom-report-list' year_for_urls month_for_urls as custom_report_list_url %}
{% url 'custom-report-list' year month as custom_report_list_actual_date_url %}
{% url 'password_change' as password_change_url %}
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="hidden-print collapsed">
        <div class="sidebar-header">
            <nav class="hidden-print">
                <button id="sidebarCollapse" class="btn">
                    <i class="toggle fa fa-angle-double-left fa-angle-double-right"></i>
                </button>
            </nav>
            <img src="{% static 'users/images/white/iko-33.png' %}"/>
            <p><strong>{{ user.get_user_type_display }}</strong></p>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="{{ home_url }}" class="sidebar-link{% if request.path == home_url %} active{% endif %}">
                    <span class="link-icon"><i class="fa fa-home"></i></span>
                    <span class="link-text">{% trans 'Home' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ account_url }}"
                   class="sidebar-link
                   {% if request.path|startswith:account_url or request.path|startswith:password_change_url %} active{% endif %}">
                    <span class="link-icon"><i class="fa fa-user"></i></span>
                    <span class="link-text">{% trans 'Account' %}</span>
                </a>
            </li>
            {% if user.user_type == admin %}
            <li>
                <a href="{{ custom_users_list_url }}"
                   class="sidebar-link
                   {% if request.path|startswith:custom_users_list_url or request.path|startswith:'/employees/reports/author/' %} active{% endif %}">
                    <span class="link-icon"><i class="fa fa-users"></i></span>
                    <span class="link-text">{% trans 'Employees' %}</span>
                </a>
            </li>
            {% endif %}
            {% if user.user_type == manager or user.user_type == admin %}
            <li>
                <a href="{{ custom_users_notifications }}"
                   class="sidebar-link{% if request.path|startswith:custom_users_notifications %} active{% endif %}">
                    <span class="link-icon"><i class="fa fa-bell"></i></span>
                    <span class="link-text">{% trans 'Notifications' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ custom_projects_list_url }}"
                   class="sidebar-link{% if request.path|startswith:custom_projects_list_url or request.path|startswith:'/employees/reports/project/' %} active{% endif %}">
                    <span class="link-icon"><i class="fa fa-cubes"></i></span>
                    <span class="link-text">{% trans 'Projects' %}</span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ custom_report_list_url }}"
                   class="sidebar-link{% if request.path == custom_report_list_url or request.path|startswith:custom_report_list_actual_date_url %} active{% endif %}">
                    <span class="link-icon"><i class="fa fa-clipboard-list"></i></span>
                    <span class="link-text">{% trans 'Reports' %}</span>
                </a>
            </li>
            <li id="logout">
                <a href="{{ logout_url }}" class="sidebar-link">
                    <span class="link-icon"><i class="fa fa-sign-out-alt"></i></span>
                    <span class="link-text">{% trans 'Logout' %}</span>
                </a>
            </li>
        </ul>
         <div id="logo-nav">
             <div id="logo-bottom">
                <img src="{% static 'users/images/full-code-poets-logo.png' %}"/>
             </div>
        </div>
    </nav>
    <div id="content" class="content-top-margin">
    {% endif %}
    <!-- Page Content Holder -->
        <main>
            <div>
    {% block content %}
    {% endblock %}
            </div>
        </main>
    </div>
</div>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH"
        crossorigin="anonymous"></script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script
        src="https://kit.fontawesome.com/a076d05399.js"
        integrity="sha384-7cupKsyf1krt0hPaFhz7o347RIzmECgbuiiOTe+NbIi9eA5z8RSNuYFdTDgRTZHH"
        crossorigin="anonymous"></script>
    <script
        src="{% static 'users/scripts/float_menu.js' %}"
        integrity="{% staticinline 'users/scripts/float_menu.js' encode="sri" %}"
        crossorigin="anonymous"></script>
    {% block extra_script %}{% endblock %}
</body>
</html>
