{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<div id="login-page" class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first" id="login-header">
            <img src="{% static 'users/images/full-code-poets-logo.png' %}" alt="Logo icon"/>
        </div>
        <form method="post" class="signup">
            {% csrf_token %}
            <label for="id_email"></label>
            <input id="id_email" type="email" class="fadeIn first" name="email" placeholder="Email" required {% if form.email.value %} value="{{ form.email.value }} {% endif %}">
                {% include 'partials/errors_in_field.html' with errors=form.email.errors %}
                {% include 'partials/errors_in_field.html' with errors=form.non_field_errors %}
            <label for="id_password"></label>
            <input id="id_password" type="password" class="fadeIn second" name="password1" placeholder="Password" required>
            <label for="id_password2"></label>
            <input id="id_password2" type="password" class="fadeIn third" name="password2"
                   placeholder="Password confirmation" required>
                {% include 'partials/errors_in_field.html' with errors=form.password2.errors %}
            <div id="captcha" class="fadeIn third">
                {{ form.captcha }}
                <button type=button id='captcha-refresh' class="glyphicon glyphicon-refresh"></button>
            </div>
                {% include 'partials/errors_in_field.html' with errors=form.captcha.errors %}
            <input type="submit" class="fadeIn fourth" value="{% trans 'Sign up' %}">
        </form>
        <div id="formFooter">
            <span><a class="underlineHover" href="{% url 'home' %}">{% trans 'Cancel' %}</a></span>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script
    type="text/javascript"
    src="{% static 'users/scripts/captcha-refresh.js' %}"
    integrity="{% staticinline 'users/scripts/captcha-refresh.js' encode="sri" %}"
    crossorigin="anonymous"
></script>
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
/>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
    crossorigin="anonymous"></script>
{% endblock %}
