{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <meta charset="utf-8">
    <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
        integrity="sha384-Nlo8b0yiGl7Dn+BgLn4mxhIIBU6We7aeeiulNCjHdUv/eKHx59s3anfSUjExbDxn"
        crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
<div class="modal-dialog" style="margin-bottom:0">
  <div class="panel-heading">
    <h1>Account details</h1>
    <br>
    {% if messages %}
    <ul class="messages" style="list-style-type: none;">
        {% for message in messages %}
        <li><font color="green"><b>{{ message }}</b></font></li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>

  </div>
  <form class="form-horizonal" action="{% url 'custom-user-update' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span> Update
    </button>
    <a href="{% url 'custom-user-update' %}" class="btn btn btn-default">
      <span class="glyphicon glyphicon-repeat"></span> Discard
    </a>
  </form>
</div>

</br>

<p>
  <a href="{% url 'password_change' %}" class="btn btn-info">
    <span class="glyphicon glyphicon-pencil"></span>Change password
  </a>
</p>

<button type="button" id="opener_own_account" class="btn btn btn-danger">
  <span class="glyphicon glyphicon-remove"></span> Delete
</button>

<div id="dialog_own_account" style="display: none" title="{% trans 'Are you sure' %}?" align="center">
  {% trans 'Do you want to delete' %} <br/>
  {% trans 'your own account' %}?
</div>

<div id="dialog_option_yes" style="display: none" title="{% trans 'No, you not' %}" align="center">
  {% trans 'Nice try, ' %} <br/>
  {% trans 'we appreciate that :)' %}
</div>

<br><br>

{% endblock %}

{% block extra_script %}
  {{ form.media }}
  <script src="//code.jquery.com/jquery-3.3.1.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'users/scripts/delete_account_popup.js' %}"></script>
{% endblock %}
