{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load url_filter_tags %}

{% block extra_head %}
    <meta charset="utf-8">
    <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
        integrity="sha384-Nlo8b0yiGl7Dn+BgLn4mxhIIBU6We7aeeiulNCjHdUv/eKHx59s3anfSUjExbDxn"
        crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
    {% if request.path|startswith:custom_users_list_url %}
        {% url 'custom-user-update-by-admin' pk=user_detail.pk as current_user_url %}
    {% endif %}

    <div class="modal-dialog" id="modal-dialog-update-user-account">
        {% if request.path|startswith:custom_users_list_url %}
            {% include 'partials/user_update_form.html' with current_view_url=current_user_url %}
        {% else %}
            {% include 'partials/user_update_form.html' with current_view_url=account_url %}
        {% endif %}
    </div>

    <div id="dialog_user_account" class="modal_dialog_display" title="{% trans 'Are you sure' %}?" align="center">
        <p>{% trans 'Do you want to delete' %} {{ user_detail.email }}?</p>
    </div>

    <div id="dialog_info" class="modal_dialog_display" title="{% trans 'No, you not' %}" align="center">
        <p>{% trans 'If you want to delete user go to Django Panel Admin' %}</p>
    </div>

    <div id="dialog_user_account_update" class="modal_dialog_display" title="{% trans 'Are you sure' %}?" align="center">
        <p class="margin margin-first">{% trans 'Do you want to update' %}</p>
        {% if request.user is not user_detail %}
          <p class="margin"><b>{{ user_detail.email }}</b> account?</p>
        {% else %}
          <p class="margin"><b>your</b> account?</p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_script %}
    {{ form.media }}
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH"
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5"
        crossorigin="anonymous"></script>
    <script
        type="text/javascript"
        src="{% static 'users/scripts/delete_account_popup.js' %}"
        integrity="{% staticinline 'users/scripts/delete_account_popup.js' encode="sri" %}"
        crossorigin="anonymous"
    ></script>
    <script
        type="text/javascript"
        src="{% static 'users/scripts/update_account_popup.js' %}"
        integrity="{% staticinline 'users/scripts/update_account_popup.js' encode="sri" %}"
        crossorigin="anonymous"
    ></script>
{% endblock %}
