{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load rest_framework %}

<h1>
  &nbsp; Employees list &nbsp;
  <a href="{% url 'custom-user-create' %}" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</h1>
<br>

<ul>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Type</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Projects</th>
          <td class=Invisible></td>
          <td class=Invisible></td>
        </tr>
        <tr>
          {% for user in users_list %}
          <td>{{ forloop.counter }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.user_type }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            {% for members in user.members.all %}
              {{ members.name }}
              {% for managers in members.managers.all %}
                {% if managers.email == user.email %}
                  [M]
                {% endif %}
              {% endfor %}
              ,
            {% endfor %}
          </td>
          <td class=Invisible align="center">
            <a href="{% url 'custom-users-detail' pk=user.id %}" class="btn btn-info">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td class=Invisible align="center">
            <a href="{% url 'custom-users-detail' pk=user.id %}" class="btn btn-warning">
              <span class="glyphicon glyphicon-list-alt"></span>
            </a>
          </td>
        </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</ul>

{% endblock %}
