{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>
        <small>
            <a href="{% url 'custom-users-list' %}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </small>
        {% trans "Create new employee&" %}
    </h2>

    <div class="modal-dialog">
        <form action="{% url 'custom-user-create' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Create&" %}
            </button>
        </form>
    </div>
{% endblock %}
