{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

<div class="row hidden-print double-space-margin-top">
    <div class="col-xs-6 hidden-print">
        {% include "employees/partial/month_navigation/month_navigation_bar_with_form.html" %}
    </div>

    {% if  request.resolver_match.url_name == "custom-report-list" %}
        <div class="col-xs-12 col-md-6 hidden-print">
            <button class="hidden-print btn-lg no-background button-without-border margin-create-button" type="button" id="opener_create">
                <span class="glyphicon glyphicon-edit span-blue-color"></span>
                <span class="span-blue-color"><strong>{% trans "Add new entry" %}</strong></span>
            </button>
        </div>
    {% endif %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {

    $("#opener_create").modalForm({
        modalID: "#modal",
        formURL: "{% url 'create-report' year month %}"
    });

});
</script>
