[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
assertpy = "*"
black = "==19.3b0"
django-mock-queries = "*"
factory-boy = "*"
flake8 = "*"
freezegun = "*"
ipdb = "*"
mypy = "*"
pylint = "*"
parameterized = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
beautifulsoup4 = "*"
django-bootstrap-datepicker-plus = "*"
django-countries = "*"
django-crispy-forms = "*"
django-select2 = "*"
django-simple-captcha = "*"
Django = "*"
markdown-checklists = "*"
Markdown = "*"
openpyxl = "*"
psycopg2 = "==2.7.5"
psycopg2-binary = "==2.7.7"
python-dateutil = "*"
raven = "*"

[requires]
python_version = "3.7"
