assertpy
beautifulsoup4
black
certifi
chardet
defusedxml
Django
django-allauth
django-bootstrap-datepicker-plus
django-countries
django-crispy-forms
django-mock-queries
factory-boy
flake8
freezegun
idna
mypy
Markdown
markdown-checklists
oauthlib
openpyxl
psycopg2
pylint
parameterized
pytest
pytest-cov
pytest-django
python-dateutil
python3-openid
pytz
PyYAML
raven
requests
requests-oauthlib
six
urllib3
