{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load rest_framework %}
{% load static %}

<h2>
  <small>
    <a href="{% url 'custom-project-detail' pk=project.id %}">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </small>
  &nbsp;{{project.name}}&nbsp;
</h2>

<div class="modal-dialog" style="margin-bottom:0">
  <form action="{% url 'custom-project-update' pk=project.id %}" method="post">
      {% csrf_token %}
      {% render_form serializer template_pack='rest_framework/vertical' %}
          <div class="tool_tip">
            <font color="grey">{% trans "How to add more employees" %}?</font>
            <span class="tooltip_text">{% trans "Select by CTRL + click" %}</span>
          </div>
      <br/><br/><br/>
      <button type="submit" class="btn btn-default">{% trans "Update" %}</button>
  </form>
</div>

{% endblock %}
