{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'managers/style.css' %}"
        integrity="{% staticinline 'managers/style.css' encode="sri" %}"
        crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
    {% trans 'Active' as active %}
    {% trans 'Suspended' as suspended %}
    {% trans 'Completed' as completed %}
    {% trans 'All' as all %}

    <div class="modal-dialog" id="modal-dialog-project-list">
        <div class="main-white-container">
            <h1>
                <img src="{% static 'managers/images/ico-04.png' %}"> {% trans 'Projects' %}
                <a href="{% url 'custom-project-create' %}" title="{% trans 'Create a new project' %}">
                    <img src="{% static 'managers/images/ico-07.png' %}">
                </a>
            </h1>

            {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_active header=active id="active" %}
            {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_suspended header=suspended id="suspended" %}
            {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_completed header=completed id="completed" %}
            {% include "managers/partials/display_projects.html" with filtered_list=object_list header=all id="all" %}

        </div>
    </div>
{% endblock %}
