{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="modal-dialog">
        <div class="main-white-container change-password">
            <div class="panel-heading">
                <h2>{% trans 'Change password' %}</h2>
                {% include 'partials/display_messages.html' with message_type="success" %}
            </div>
            <form method="post">
                {% csrf_token %}
                    <div class="form-row row">
                        <div class="col-xs-8 col-xs-offset-2">
                            {{ form.old_password|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-xs-8 col-xs-offset-2 new-password1">
                            {{ form.new_password1|as_crispy_field }}
                            <span class="tooltiptext">{{ form.new_password1.help_text }}</span>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-xs-8 col-xs-offset-2">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row change-password">
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value="{% trans 'Change password' %}"/>
                        </div>

                        <div class="col-md-6">
                            <a href="{{ account_url }}">
                                <input type="button" class="btn btn-secondary discard-button" value="{% trans 'Cancel' %}">
                            </a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}
