{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="modal-dialog" style="margin-bottom:0">
  <div class="panel-heading">
    <h2>Change password</h2>

    {% if messages %}
      <ul class="messages" style="list-style-type: none;">
          {% for message in messages %}
          <b><li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="grey">{{ message }}</font></li></b>
          {% endfor %}
      </ul>
    {% endif %}

  </div>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% trans 'Change password' %}"/>
  </form>
</div>

{% endblock %}
