- become:      yes
  become_user: root
  block:
    - name:   Install required packages for apt_key and apt_repository
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl

    - name:   Use pinning to ensure that packages from testing are installed only of stable packages are not available
      copy:
        src:  testing.pref
        dest: /etc/apt/preferences.d/testing.pref

    - name:   Enable the testing repository
      apt_repository:
        repo:  "deb http://ftp.de.debian.org/debian testing main"
        state: present

    - name:  Install basic packages
      apt:
        name:
        - ncdu
        - tree
        - htop
        - tmux
        - vim

    - name:  Install dependencies
      apt:
        name:
          - git
          - virtualenv
          - python3-setuptools
          - wget

    - name:  Install dependencies from testing
      apt:
        default_release: testing
        name:
          - nginx={{ nginx_version }}
          - libmodsecurity-dev
          - libgeoip-dev
          - libgd-dev
          - libxslt-dev
          - zlib1g-dev
          - libpcre++-dev
          - zlib1g-dev
          - python{{ python_version }}
          - postgresql={{ postgres_package_version }}
          - python3-distutils
          - python3-psycopg2
          - python3-certbot-nginx

    - name:  Remove unused dependencies
      apt:   autoremove=yes

    - name:    Clear apt cache
      command: apt-get clean

    - name:  Create the user account that will be used for sentry
      user:
        name:   sheetstorm
        state:  present
