.ui-dialog.ui-widget {
    top: 0;
    left: 0;
    box-shadow: 0 0 10px black;
}

.ui-dialog .ui-dialog-titlebar {
    background: transparent;
    border: none;
}

.ui-dialog .ui-dialog-title {
    width: 100%;
    font-weight: normal;
    height:4px;
    color: black;
}

.ui-dialog .ui-dialog-titlebar-close {
    width: 40px;
    height: 30px;
    top: 35%;
    background:white;
    border: none
}
