.ui-dialog.ui-widget {
    top: 0;
    left: 0;
    border: 2px solid black;
}

.ui-dialog .ui-dialog-titlebar {
    background: var(--cp-blue-color);
}

.ui-dialog .ui-dialog-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.ui-dialog .ui-dialog-titlebar-close {
    width: 40px;
    height: 30px;
    top: 35%;
    background:white;
    border: 2px solid rgb(230, 230, 230);
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(173, 173, 173);
}
