:root {
    --cp-blue-color: rgb(44, 119, 188);
}

#dialog {
    display: none;
    text-align: center;
}

#month-navigation-form {
    width: 256px;
    margin-top: 0;
    margin-bottom: 5px;
    float: left;
    display: inline-block;
}

.table {
    table-layout: fixed;
    text-align: left;
}

.modal-dialog {
    margin-bottom: 0;
}

.date-header {
    width: 16.23%;
}

.project-header {
    width: 10.18%;
}

.task-activities-header {
    width: 10.18%;
}

.work-hours-header {
    width: 8.16%;
}

.edit-button-header {
    width: 8.77%;
}

.description-column {
    word-wrap: break-word;
}

.edit-button-column {
    text-align: right;
}

textarea.form-control, #id_description {
    height: 200px;
    resize: none;
}

.description-column > p > a {
    color: deepskyblue;
}

.select2-results__option[aria-selected=true] {
    background-color: #3875D7
}

a.pagelink:link,
a.pagelink:visited,
a.pagelink:active {
    color: #3366FF;
    text-decoration: none;
}

a.pagelink:hover {
    color: #006699;
    text-decoration: underline;
}

.main-white-container {
    background-color: white;
    box-shadow: 0 0 10px grey;
    width: 80%;
    min-width: 400px;
}

.narrower-container {
    width: 95%;
}

.double-space-margin-bottom {
    margin-bottom: 2em;
}

.double-space-margin-top {
    margin-top: 2em;
}

.div-text-for-popup {
    display: none;
}

.div-without-padding-align-left {
    padding: 0;
    margin: 0;
    text-align: left;
}

.margin-top-space {
    margin-top: 1.5em;
}

.p-non-field-errors {
    color: red;
}

.span-blue-color {
    color: var(--cp-blue-color);
}

.span-edit-report {
    color: rgb(167, 178, 211);
    font-size: 20px;
}

.button-without-border {
    border: none;
}

table.table {
    min-width: 500px;
}

.table-responsive > .table > tbody > tr > td {
    white-space: normal;
!important;
    overflow: hidden;
}

.table > thead > tr > th, td {
    vertical-align: top;
    overflow: hidden;
}

.td-text-align-left {
    text-align: left;
}

.hr-blue-line {
    border: 1px solid var(--cp-blue-color);
}

.th-blue-border {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: var(--cp-blue-color);
}

.th-blue-border-first-cell {
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: var(--cp-blue-color);
}

.tr-next-day-separator {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: rgb(180, 180, 180);
}

.bottom-separator {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(180, 180, 180);
}

.no-padding {
    padding: 0;
}

.margin-create-button {
    margin-top: 0.8em;
}

.row.double-space-margin-bottom > div > a {
    margin-top: 15px;
}

.row.double-space-margin-bottom > div > a > span {
    width: 230px;
    font-size: 95%;
    font-weight: 700;
}

.no-reports-message {
    margin-bottom: 20px;
}

.export-csv {
    text-align: left;
}

.export-xlsx {
    text-align: right;
}

@media (max-width: 995px) {
    .export-csv, .export-xlsx {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
        overflow: hidden;
    }
}

.td-text-align-left-name {
    width: 20%;
}

.hidden-print-line {
    width: calc(99% - 20%);
}
