#dialog {
    display: none;
    text-align: center;
}

#month-navigation-form {
    width: 15%;
    margin-top: 0;
    margin-bottom: 0;
    display:inline-block;
}

.modal-dialog {
    margin-bottom: 0;
}

.date-header {
    width: 16.23%;
}

.project-header {
    width: 10.18%;
}

.task-activities-header {
    width: 10.18%;
}

.work-hours-header {
    width: 8.16%;
}

.edit-button-header {
    width: 8.77%;
}

.date-column {
    text-align: left;
}

.project-column {
    text-align: left;
}

.task-activities-column {
    text-align: left;
}

.description-column {
    text-align: left;
}

.work-hours-column {
    text-align: left;
}

.edit-button-column {
    text-align: right;
}

.author-reports-date-header{
    width: 16.23%;
}

.author-reports-project-header {
    width: 20.18%;
}

.author-reports-work-hours-header {
    width: 8.16%;
}

.author-reports-creation-date-header {
    width: 10.09%;
}

.author-reports-last-update-header {
    width: 10.09%;
}

.author-reports-editable-header {
    width: 5.09%;
}

.author-reports-edit-button-header {
    width: 4.91%;
}

.author-reports-date-column{
    text-align: left;
}

.author-reports-project-column {
    text-align: left;
}

.author-reports-work-hours-column {
    text-align: right;
}

.author-reports-description-column {
    text-align: left;
}

.author-reports-creation-date-column {
    text-align: center;
}

.author-reports-last-update-column {
    text-align: center;
}

.author-reports-editable-column {
    text-align: center;
}

.author-reports-edit-button-column {
    text-align: right;
}

textarea.form-control, #id_description {
    height: 200px;
    resize: none;
}

.project-reports-date-header{
    width: 11.23%;
}

.project-reports-project-header {
    width: 20.18%;
}


.project-reports-task-activity-header {
    width:1%;
    white-space:nowrap;
}

.project-reports-author-header {
    width:1%;
    white-space:nowrap;
}

.project-reports-work-hours-header {
    width: 8.16%;
}

.project-reports-creation-date-header {
    width: 10.09%;
}

.project-reports-last-update-header {
    width: 10.09%;
}

.project-reports-editable-header {
    width: 5.09%;
}

.project-reports-edit-button-header {
    width: 4.91%;
}

.project-reports-date-column{
    text-align: left;
}

.project-reports-project-column {
    text-align: left;
}

.project-reports-task-activity-column {
    width:1%;
    white-space:nowrap;
}

.project-reports-author-column {
    width:1%;
    white-space:nowrap;
    text-align: left;
}

.project-reports-work-hours-column {
    text-align: right;
}

.project-reports-description-column {
    text-align: left;
}

.project-reports-creation-date-column {
    text-align: center;
}

.project-reports-last-update-column {
    text-align: center;
}

.project-reports-editable-column {
    text-align: center;
}

.project-reports-edit-button-column {
    text-align: right;
}

.description-column > p > a {
    color: deepskyblue;
}

.select2-results__option[aria-selected=true] {
    background-color: #3875D7
}
