{% load data_display_filters %}

<table class="table">
    <thead>
        <tr>
            <td colspan="4">
                <h4><strong>{{ UI_text.PROJECTS_WORK_PERCENTAGE_HEADER.value }}</strong></h4>
            </td>
            <td colspan="5">
                <hr class="hr-blue-line"/>
            </td>
        </tr>
        <tr>
            <th class="th-blue-border-first-cell" colspan="5">{{ UI_text.PROJECT_COLUMN_HEADER.value }}</th>
            <th class="th-blue-border" colspan="2">{{ UI_text.HOURS_SUM_HEADER.value }}</th>
            <th class="th-blue-border" colspan="2">{{ UI_text.HOURS_PERCENTAGE_HEADER.value }}</th>
        </tr>
    </thead>
    <tbody>
        {% for project, work_percentage in projects_work_percentage.items %}
        <tr>
            <td colspan="5"><strong>{{ project }}</strong></td>
            <td colspan="2">{{ work_percentage.0|duration_field_to_string }}</td>
            <td colspan="2">{{ work_percentage.1|floatformat:2 }} %</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
