Include {{ modsecurity_configs_dir }}/modsecurity.conf
Include {{ owasp_modsecurity_dir }}/owasp-modsecurity-crs-{{ owasp_modsecurity_version[1:] }}/crs-setup.conf
Include {{ owasp_modsecurity_dir }}/owasp-modsecurity-crs-{{ owasp_modsecurity_version[1:] }}/rules/*.conf
# Disabled rules that caused false positive
SecRuleRemoveById 951240
SecRuleRemoveById 942100
SecRuleRemoveById 942230
