{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% if user.is_authenticated %}
        <script>
        window.location.href = "{% url 'home' %}";
        </script>
    {% endif %}
<div id="login-page" class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first" id="login-header">
      <img src="{% static 'users/images/logo-login.png' %}" alt="Logo icon" />
      <img src="{% static 'users/images/name-login.png' %}" alt="Name brand Icon" />
    </div>
    <form method="post" class="login">
        {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Email" required>
      {% include 'partials/errors_in_field.html' with errors=form.email.errors %}
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <input type="submit" class="fadeIn fourth" value="{% trans 'Login' %}">
    </form>

    <div id="formFooter">
        <span><a class="underlineHover" href="{% url 'signup' %}">Sign up</a></span>
            or
        <span><a class="underlineHover" href="{% url 'password_reset' %}">Forgot your password?</a></span>
    </div>
  </div>
  {% include 'partials/errors_in_field.html' with errors=form.non_field_errors %}
</div>
{% endblock %}
