{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load static %}
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
/>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
    crossorigin="anonymous"></script>
    {% if user.is_authenticated %}
        <script>
        window.location.href = "{% url 'home' %}";
        </script>
    {% endif %}
<div id="login-page" class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first" id="login-header">
      <img src="{% static 'users/images/full-code-poets-logo.png' %}" alt="Logo icon" />
    </div>
    <form method="post" class="login">
        {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Email" required {% if form.username.value %} value="{{ form.username.value }} {% endif %}">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <input type="submit" class="fadeIn fourth" value="{% trans 'Login' %}">
    </form>

    <div id="formFooter">
        <span><a class="underlineHover" href="{% url 'signup' %}">Sign up</a></span>
            or
        <span><a class="underlineHover" href="{% url 'password_reset' %}">Forgot your password?</a></span>
    </div>
  </div>
  {% include 'partials/errors_in_field.html' with errors=form.non_field_errors %}
</div>
{% endblock %}
