body {
    background-color: #f2f2f2;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
}

#formFooter > a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

table {
  margin-left:auto;
  margin-right:auto;
}

th, td.padding {
  padding: 15px;
}

div {
  text-align: center;
  margin-bottom: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    background: #2c77bc;
    color: white;
    transition: all 0.3s;

    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.77);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.77);
}

#sidebar ul li a {
    text-decoration: none;
    color: #a3afd3;
    text-align: left;
}

#sidebar .sidebar-header {
    text-align: center;
    padding: 15px;
}

#sidebar .sidebar-header strong {
    font-size: 1.6em;
}

#sidebar ul li a {
    padding: 5%;
    font-size: 1.5em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
}

#sidebar ul li a img {
    margin-left: 10%;
}
#sidebar ul li a span {
    margin-top: 5px;
    position: absolute;
    left: 115px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#logo-nav {
    position: absolute;
    width: 100%;
    height: 115px;
    bottom: 0;
    background-color: #e9efff;
}

#logo-bottom {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

/*Toggled*/

#sidebar.active {
    min-width: 150px;
    max-width: 150px;
}

#sidebar.active ul li a {
    margin-left: 32px;
    padding-bottom: 17%;
}

#sidebar.active .sidebar-header strong {
    display: none;
}

#sidebar.active ul li a span {
    display: none;
}

#sidebar.active #logo-nav #logo-bottom {
    margin-left: 35px;
}

#sidebar.active #logo-nav #logo-bottom #name-logo {
    display: none;
}

/*Active*/
.active span {
    color: white;
}

/* LOGIN - STRUCTURE */

#login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY LOGIN-FORM*/

.login > input[type=button],.login > input[type=submit],.login > input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login > input[type=button]:hover,.login > input[type=submit]:hover,.login > input[type=reset]:hover  {
  background-color: #39ace7;
}

.login > input[type=button]:active,.login > input[type=submit]:active,.login > input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login > input[type=text],.login > [type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login > input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.login > input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#login-header {
  padding: 30px;
}