body {
    background-color: #f2f2f2;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
}

#formFooter > a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td.padding {
    padding: 15px;
}

div {
    text-align: center;
    margin-bottom: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.content-top-margin {
    margin-top: 44px;
}

#sidebar {
    position: sticky;
    top: 0;
    min-height: 360px;
    height: 100vh;
    width: 20vw;
    min-width: 125px;
    max-width: 250px;
    background: #2c77bc;
    color: white;
    transition: all 0.3s;
    z-index: 1;

    -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.77);
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.77);
}

#sidebar .sidebar-header {
    text-align: center;
    padding: 15px;
    max-height: 194px;
    height: 27vh;
}

#sidebar .sidebar-header img {
    max-height: 123px;
    max-width: 100px;
    width: 100%;
}

@media only screen and (max-height: 614px) {
    #sidebar .sidebar-header img {
        height: calc(100% - 13px);
        width: auto;
    }
}

#sidebar .sidebar-header strong {
    font-size: 1.6em;
}

.sidebar-link {
    width: 100%;
    font-size: 1.7vw;
    text-decoration: none;
    color: #a3afd3;
    display: block;
    height: 35px;
    margin-bottom: 1.112vh;
    line-height: 35px;
}

@media only screen and (min-width: 1471px) {
    .sidebar-link {
        font-size: 25px;
    }
}

@media only screen and (max-width: 764px) {
    .sidebar-link {
        font-size: 13px;
    }
}

#sidebar ul li a:hover {
    color: white;
}

.link-icon {
    margin-left: 5%;
    width: 20%;
    height: fit-content;
    text-align: center;
}

.link-text {
    margin-left: 5%;
    width: 60%;
    height: fit-content;
    text-align: left;
}

#content {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-left: 1%;
    padding-right: 1%;
    min-height: calc(100vh - 44px);
    transition: all 0.3s;
}

#logo-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #e9efff;
}

@media only screen and (max-height: 568px) {
    #logo-nav {
        visibility: hidden;
    }
}

#logo-bottom {
    text-align: center;
}

#logo-bottom img {
    height: 100%;
    width: 100%;
    min-height: 60px
}

/*Toggled*/
#sidebar.collapsed {
    min-width: 60px;
    width: 60px;
}

#sidebar.collapsed sidebar-link {
    text-align: center;
}

#sidebar.collapsed .sidebar-header strong {
    display: none;
}

#sidebar.collapsed .sidebar-header img {
    width: 100%;
    height: auto;
}

#sidebar.collapsed .link-icon {
    width: 100%;
    text-align: center;
    margin-left: 0;
    font-size: 25px
}

#sidebar.collapsed .link-text {
    display: none;
}

#sidebar.collapsed #logo-nav {
    max-height: 60px;
}

#sidebar.collapsed #logo-nav #logo-bottom img {
    content: url("/static/users/images/code-poets-logo.png");
    width: 60px;
    height: 60px;
}

#sidebarCollapse {
    font-size: 150%;
    padding: 1px 6px;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 9.78vh;
    right: 0.9vw;
    z-index: 1;
    outline: none;
}

@media only screen and (min-height: 614px) {
    #sidebarCollapse {
        top: 60px
    }
}

@media only screen and (min-width: 1471px) {
    #sidebarCollapse {
        right: 12px;
    }
}

@media only screen and (max-width: 777px) {
    #sidebarCollapse {
        right: 7px;
    }
}

#sidebar > div > nav > .btn:active {
    box-shadow: none;
    outline: none;
}

/*Active*/
.active span {
    color: white;
}

/* LOGIN - STRUCTURE */

#login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY LOGIN-FORM SIGNUP-FORM*/

.login > input[type=button], .signup > input[type=button], .login > input[type=submit], .signup > input[type=submit], .login > input[type=reset] .signup > input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login > input[type=button]:hover, .signup > input[type=button]:hover, .login > input[type=submit]:hover, .signup > input[type=submit]:hover, .login > input[type=reset]:hover, .signup > input[type=reset]:hover {
    background-color: #39ace7;
}

.login > input[type=button]:active, .signup > input[type=button]:active, .login > input[type=submit]:active, .signup > input[type=submit]:active, .login > input[type=reset]:active, .signup > input[type=reset]:active, #captcha > input[type=text]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.login > input[type=text], .signup > input[type=email], .login > input[type=password], .signup > input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.login > input[type=text]:focus, .signup > input[type=email]:focus, .login > input[type=password]:focus, .signup > input[type=password]:focus, .signup > input[type=text]:focus, #captcha > input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.login > input[type=text]:placeholder, .signup > input[type=email]:placeholder {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
    text-decoration: none;
    transition: all 0.3s;
}

.underlineHover:hover:after {
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#login-header img {
    height: 100%;
    width: 100%;
}

/* CAPTCHA */
#captcha {
    display: inline-block;
}

#captcha > input[type=text] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 32px;
    width: 75%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    float: left;
}

#captcha > img {
    margin: 5px;
    width: 150px;
    height: 70px;
}

#captcha-refresh {
    text-align: center;
    font-size: 3rem;
    padding: 2%;
    float: left;
}

.table-bordered thead {
    font-weight: bold;
}

.main-white-container > .panel-heading > .row {
    margin-bottom: 5%;
}

.page-title {
    font-size: 160%;
}

.form-actions > a {
    font-size: 130%;
}

#update-user-account > .row, #update-user-account > .form-actions, #update-user-account > #div_id_user_type {
    font-size: 130%;
}

.form-group > label {
    font-weight: 400;
}

.main-white-container {
    background: white;
    padding: 5%;
    -webkit-box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
}

#modal-dialog-update-user-account {
    width: 60%;
    max-width: 500px;
    min-width: 160px;
}

.form-group.row {
    margin-top: 5%;
}

#update-user-account > .form-group > .form-group > input {
    width: 100%;
}

ul.messages {
    list-style-type: none;
    text-align: left;
    margin-left: 10%;
}

ul.messages.success {
    color: green;
    padding-inline-start: 0px;
}

#change-password {
    width: 100%;
}

#change-password > span {
    margin-left: -3%;
}

.discard-button {
    background-color: #DDDDDD;
}

.invalid-feedback {
    margin-top: 5px;
    color: red;
    font-size: 70%;
}

.modal_dialog_display {
  display: none;
}

.margin {
  margin: 0;
}

.margin-first {
  margin-top: 10px;
}
