body {
    background-color: #f2f2f2;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

table {
  margin-left:auto;
  margin-right:auto;
}

th, td.padding {
  padding: 15px;
}

div {
  text-align: center;
  margin-bottom: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    background: #2c77bc;
    color: white;
    transition: all 0.3s;

    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.77);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.77);
}

#sidebar ul li a {
    text-decoration: none;
    color: #a3afd3;
    text-align: left;
}

#sidebar .sidebar-header {
    text-align: center;
    padding: 15px;
}

#sidebar .sidebar-header strong {
    font-size: 1.6em;
}

#sidebar ul li a {
    padding: 5%;
    font-size: 1.5em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
}

#sidebar ul li a img {
    margin-left: 10%;
}
#sidebar ul li a span {
    margin-top: 5px;
    position: absolute;
    left: 115px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#logo-nav {
    position: absolute;
    width: 100%;
    height: 115px;
    bottom: 0;
    background-color: #e9efff;
}

#logo-bottom {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

/*Toggled*/

#sidebar.active {
    min-width: 150px;
    max-width: 150px;
}

#sidebar.active ul li a {
    margin-left: 32px;
    padding-bottom: 17%;
}

#sidebar.active .sidebar-header strong {
    display: none;
}

#sidebar.active ul li a span {
    display: none;
}

#sidebar.active #logo-nav #logo-bottom {
    margin-left: 35px;
}

#sidebar.active #logo-nav #logo-bottom #name-logo {
    display: none;
}

/*Active*/
.active span {
    color: white;
}