limit_req_zone $binary_remote_addr zone=ip_req_limit:10m rate={{ nginx.limit_of_requests_per_second }}r/s;
limit_conn_zone $binary_remote_addr zone=ip_connection_limit:10m;

# Disable sending the nginx version in error pages and server header
server_tokens off;

server {
    listen           80 default_server;
    listen      [::]:80 default_server;

    # Activate modsecurity module

    error_page 503 /503.html;

    location = /503.html {
       root /var/www/html/;
       internal;
    }

    location / {
        limit_req  zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn ip_connection_limit {{ nginx.number_of_open_connections_per_client }};
        return 503;
    }

    include /etc/nginx/snippets/configuration-of-compression-timeouts-and-sizes.conf;
}
