limit_req_zone $binary_remote_addr zone=ip_req_limit:10m rate={{ nginx.limit_of_requests_per_second }}r/s;
limit_conn_zone $binary_remote_addr zone=ip_connection_limit:10m;

# Define proxy cache path
proxy_cache_path {{ nginx_cache_dir }} levels=1:2 keys_zone=cache:10m max_size=1g inactive=60m use_temp_path=off;

# Disable sending the nginx version in error pages and server header
server_tokens off;

# Include shared security headers
include /etc/nginx/snippets/shared-security-headers.conf;

server {
    server_name sheetstorm.codepoets.it s.codepoets.it;
    if ($host = s.codepoets.it) {
        return 301 https://sheetstorm.codepoets.it$request_uri;
    }

    # Activate modsecurity module
    modsecurity            on;
    modsecurity_rules_file /etc/nginx/modsecurity_configs/main.conf;

    location / {
        limit_req  zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn ip_connection_limit {{ nginx.number_of_open_connections_per_client }};

        set              $sheetstorm_backend  http://127.0.0.1:8000;
        proxy_set_header x-real-ip            $remote_addr;
        proxy_set_header x-forwarded-for      $remote_addr;
        proxy_set_header host                 $http_host;
        proxy_pass                            $sheetstorm_backend;


        # Configuration of proxy cache
        proxy_cache                   cache;
        proxy_cache_revalidate        on;
        proxy_cache_min_uses          3;
        proxy_cache_use_stale         error timeout updating http_500 http_502 http_503 http_504;
        proxy_cache_background_update on;
        proxy_cache_lock              on;
        proxy_cache_valid             200 302  10m;
        proxy_cache_valid             404      1m;
        proxy_cache_valid             any      5m;
        add_header X-Cache-Status $upstream_cache_status;

        # Include shared security headers
        include /etc/nginx/snippets/shared-security-headers.conf;

        # Configuration of proxy buffer
        proxy_buffering        on;
        proxy_buffer_size      8k;
        proxy_buffers          8 32k;

    }

    location /admin/ {
        limit_req    zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn   ip_connection_limit {{ nginx.number_of_open_connections_per_client }};

        set              $sheetstorm_backend  http://127.0.0.1:8000;
        proxy_set_header x-real-ip            $remote_addr;
        proxy_set_header x-forwarded-for      $remote_addr;
        proxy_set_header host                 $http_host;
        proxy_pass                            $sheetstorm_backend;
    }

    location /postgres-backup/ {
        allow                {{ allow_ip_to_postgres_backup_endpoint }};
        deny                 all;
        auth_basic           "closed site";
        auth_basic_user_file htpasswd;

        limit_except GET { deny all; }
        alias        {{ postgres_backup_dir }}/;
    }

    location /static/ {
        expires        1y;
        add_header     Cache-Control "public";
        # Include shared security headers
        include /etc/nginx/snippets/shared-security-headers.conf;

        valid_referers none blocked server_names *.codepoets.it;
        if ($invalid_referer) {
                return   403;
        }
        alias {{ static_file_dir }};
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/sheetstorm.codepoets.it/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/sheetstorm.codepoets.it/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    include /etc/nginx/snippets/configuration-of-compression-timeouts-and-sizes.conf;
}

server {
    if ($host = sheetstorm.codepoets.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot
    if ($host = s.codepoets.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen           80 default_server;
    listen      [::]:80 default_server;
    server_name sheetstorm.codepoets.it s.codepoets.it;

    return 404; # managed by Certbot

}
