limit_req_zone $binary_remote_addr zone=ip_req_limit:10m rate={{ nginx.limit_of_requests_per_second }}r/s;
limit_conn_zone $binary_remote_addr zone=ip_connection_limit:10m;

server {
    server_name sheetstorm.codepoets.it s.codepoets.it;
    if ($host = s.codepoets.it) {
        return 301 https://sheetstorm.codepoets.it$request_uri;
    }

    location / {
        limit_req  zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn ip_connection_limit {{ nginx.number_of_open_connections_per_client }};

        set              $sheetstorm_backend  http://127.0.0.1:8000;
        proxy_set_header x-real-ip            $remote_addr;
        proxy_set_header x-forwarded-for      $remote_addr;
        proxy_set_header host                 $http_host;
        proxy_pass                            $sheetstorm_backend;

    }
    location /static/ {
        alias {{ static_file_dir }};
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/sheetstorm.codepoets.it/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/sheetstorm.codepoets.it/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = sheetstorm.codepoets.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot
    if ($host = s.codepoets.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen           80 default_server;
    listen      [::]:80 default_server;
    server_name sheetstorm.codepoets.it s.codepoets.it;

    # Activate modsecurity module
    modsecurity            on;
    modsecurity_rules_file /etc/nginx/modsecurity_configs/main.conf;

    client_body_timeout   {{ nginx.client_body_timeout }};
    client_header_timeout {{ nginx.client_header_timeout }};

    return 404; # managed by Certbot

}
