limit_req_zone $binary_remote_addr zone=ip_req_limit:10m rate={{ nginx.limit_of_requests_per_second }}r/s;
limit_conn_zone $binary_remote_addr zone=ip_connection_limit:10m;

server {

    listen           80 default_server;
    listen      [::]:80 default_server;

    # Activate modsecurity module
    modsecurity            on;
    modsecurity_rules_file /etc/nginx/modsecurity_configs/main.conf;

    client_body_timeout   {{ nginx.client_body_timeout }};
    client_header_timeout {{ nginx.client_header_timeout }};

    location / {
        limit_req  zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn ip_connection_limit {{ nginx.number_of_open_connections_per_client }};

        set              $sheetstorm_backend  http://127.0.0.1:8000;
        proxy_set_header x-real-ip            $remote_addr;
        proxy_set_header x-forwarded-for      $remote_addr;
        proxy_set_header host                 $http_host;
        proxy_pass                            $sheetstorm_backend;

    }

    location /postgres-backup/ {
        allow 172.30.2.1;
        deny all;

        limit_except GET { deny all; }
        alias        {{ postgres_backup_dir }}/;
    }

    location /static/ {
        alias {{ static_file_dir }};
    }

}
