limit_req_zone $binary_remote_addr zone=ip_req_limit:10m rate={{ nginx.limit_of_requests_per_second }}r/s;
limit_conn_zone $binary_remote_addr zone=ip_connection_limit:10m;

# Disable sending the nginx version in error pages and server header
server_tokens off;

# Don't allow the browser to render the page inside an frame
add_header X-Frame-Options SAMEORIGIN;

# Add X-Content-Type-Options header that disables concent-type sniffing on some browsers
add_header X-Content-Type-Options nosniff;

# Add X-XSS-Protection header that enables the Cross-site scripting filter in the browsers
add_header X-XSS-Protection "1; mode=block";

server {
    server_name sheetstorm.codepoets.it s.codepoets.it;
    if ($host = s.codepoets.it) {
        return 301 https://sheetstorm.codepoets.it$request_uri;
    }

    # Activate modsecurity module
    modsecurity            on;
    modsecurity_rules_file /etc/nginx/modsecurity_configs/main.conf;

    location / {
        limit_req  zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn ip_connection_limit {{ nginx.number_of_open_connections_per_client }};

        set              $sheetstorm_backend  http://127.0.0.1:8000;
        proxy_set_header x-real-ip            $remote_addr;
        proxy_set_header x-forwarded-for      $remote_addr;
        proxy_set_header host                 $http_host;
        proxy_pass                            $sheetstorm_backend;

    }

    location /postgres-backup/ {
        allow                {{ allow_ip_to_postgres_backup_endpoint }};
        deny                 all;
        auth_basic           "closed site";
        auth_basic_user_file htpasswd;

        limit_except GET { deny all; }
        alias        {{ postgres_backup_dir }}/;
    }

    location /static/ {
        alias {{ static_file_dir }};
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/sheetstorm.codepoets.it/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/sheetstorm.codepoets.it/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    # Enable HSTS header
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";

    # Add Content Security Policy header that defines from which sources, browser can download content.
    add_header Content-Security-Policy "base-uri 'self'; form-action 'self'; default-src 'none'; script-src 'self' {% for source in content_security_policy_header.allow_script_sources %}{{ source }} {% endfor %}; connect-src 'self'; img-src 'self'; font-src 'self' {% for source in content_security_policy_header.allow_font_sources %}{{ source }} {% endfor %}; style-src 'self' {% for source in content_security_policy_header.allow_stylesheet_sources %}{{ source }} {% endfor %}; object-src 'none'; frame-ancestors 'none';" always;
}

server {
    if ($host = sheetstorm.codepoets.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot
    if ($host = s.codepoets.it) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen           80 default_server;
    listen      [::]:80 default_server;
    server_name sheetstorm.codepoets.it s.codepoets.it;

    client_body_timeout   {{ nginx.client_body_timeout }};
    client_header_timeout {{ nginx.client_header_timeout }};

    return 404; # managed by Certbot

}
