{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">
{% endblock %}

{% block content %}
<h1>{{ UI_text.PAGE_TITLE.value }}{{ report.project }} ({{ report.date }})</h1>
<div class="modal-dialog">
    <form action="{% url 'admin-report-detail' pk=report.pk %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{{ UI_text.UPDATE_REPORT_BUTTON.value }}">
        <a href="{% url 'author-report-list' pk=report.author.pk year=year month=month %}"><button type="button" name="discard">{{ UI_text.DISCARD_CHANGES_BUTTON.value }}</button></a>
    </form>
</div>
{% endblock %}


{% block extra_script %}
{{ form.media }}
{% endblock %}
