<div class="hidden-print">
    <div>
        {% if not disable_previous_button %}
        <a href="{{ previous_month_url }}" class="btn btn-info">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        {% endif %}
        <a href="{{ recent_month_url }}" class="btn btn-info">
            <span class="glyphicon">{{ navigation_text.RECENT_MONTH.value }}</span>
        </a>
        {% if not disable_next_button %}
        <a href="{{ next_month_url }}" class="btn btn-info">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% endif %}
    </div>
    <div class="modal-dialog" id="month-navigation-form">
        <form action="{{ path }}" method="POST">
            {% csrf_token %}
            {{ month_form.date }}
            <button type="submit" class="btn btn-default">{{ navigation_text.SWITCH_MONTH.value }}</button>
        </form>
    </div>
    <hr>
</div>
