{% extends 'base.html' %}

{% load i18n %}
{% load rest_framework %}
{% load static %}

{% load data_display_filters %}
{% load data_structure_element_selectors %}

{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">
{% endblock %}

{% block content %}
{% include "employees/month_navigation_bar.html" %}
<h1>
    <small>
        <a href="{% url 'custom-project-detail' pk=project.pk %}">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </small>
    {{ object.name }} {{ title_date }}{{ UI_text.PAGE_TITLE.value }}
</h1>
{% with date=path|extract_year_and_month_from_url %}
<a href="{% url 'export-project-data-xlsx' pk=object.pk year=date.0 month=date.1 %}" class="btn btn-info">
        Export Reports
</a>
{% endwith %}
<div class="container">
    <div class="table-responsive">
        {% regroup object.get_report_ordered by author as reports_by_author %}
        {% for author in reports_by_author %}
        <h4><strong>{{ author.grouper }}</strong></h4>
        <table class="table">
            <thead>
                <tr>
                    <th class="project-reports-date-header">{{ UI_text.DATE_COLUMN_HEADER.value }}</th>
                    <th class="project-reports-task-activity-header">{{ UI_text.TASK_ACTIVITY_HEADER.value }}</th>
                    <th class="project-reports-work-hours-header">{{ UI_text.WORK_HOURS_COLUMN_HEADER.value }}</th>
                    <th class="project-reports-description-header">{{ UI_text.DESCRIPTION_COLUMN_HEADER.value }}</th>
                    <th class="project-reports-creation-date-header hidden-print">{{ UI_text.CREATION_DATE_COLUMN_HEADER.value }}</th>
                    <th class="project-reports-last-update-header hidden-print">{{ UI_text.LAST_UPDATE_COLUMN_HEADER.value }}</th>
                    <th class="project-reports-editable-header hidden-print">{{ UI_text.EDITED_COLUMN_HEADER.value }}</th>
                    <td class="project-reports-edit-button-header hidden-print Invisible"></td>
                </tr>
            </thead>
            <tbody>
                {% regroup author.list by date as reports_by_date %}
                {% for date in reports_by_date %}
                {% for report in date.list %}
                    {% if forloop.first %}
                    <td class="project-reports-date-column" rowspan={{ date.list|length }}>
                        <strong>{{ report.date }}</strong>
                    </td>
                    {% else %}
                    <tr>
                    {% endif %}
                    <td class="project-reports-task-activity-column">{{ report.task_activities }}</td>
                    <td class="project-reports-work-hours-column">{{ report.work_hours_str }}</td>
                    <td class="project-reports-description-column">{{ report.markdown_description|safe }}</td>
                    <td class="project-reports-creation-date-column hidden-print">{{ report.creation_date }}</td>
                    <td class="project-reports-last-update-column hidden-print">{{ report.last_update }}</td>
                    <td class="project-reports-editable-column hidden-print">{{ report.editable|yesno:"False,True" }}</td>
                    <td class="project-reports-edit-button-column hidden-print Invisible">
                        <a href="{% url 'project-report-detail' pk=report.id %}" class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan="2"><strong>{{ UI_text.HOURS_PER_MONTH_LABEL.value }}</strong></td>
                    <td class="project-reports-work-hours-column"><strong>{{ monthly_hours_sum|get_key_value:author.grouper.pk|duration_field_to_string }}</strong></td>
                </tr>
            </tbody>
        </table>
        {% empty %}
            <strong>{{ UI_text.NO_REPORTS_MESSAGE.value }}</strong>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_script %}
{{ month_form.media }}
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
