{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'employees/style.css' %}"
    integrity="{% staticinline "employees/style.css" encode="sri" %}"
    crossorigin="anonymous"
/>
{% endblock %}

{% block content %}
<h1>{{ UI_text.PAGE_TITLE.value }}{{ report.project }} ({{ report.date }})</h1>
</br>
<div class="modal-dialog">
    <form action="{% url post_url pk=report.pk %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="current-project-pk" value="{{ url_pk }}">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> {{ UI_text.UPDATE_REPORT_BUTTON.value }}
        </button>
        <a href="{% url discard_url pk=url_pk year=report.date.year month=report.date.month %}" class="btn btn btn-default">
            <span class="glyphicon glyphicon-repeat"></span> {{ UI_text.DISCARD_CHANGES_BUTTON.value }}
        </a>
    </form>
</div>
{% endblock %}

{% block extra_script %}
    {{ form.media }}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"
        integrity="sha384-ZfoEytSMLhLb1Qbwt7UEBdsjsJDd/M14/Uvu7cgxvZc8RQf6nkDemUVF9LDjRP9R"
        crossorigin="anonymous"></script>
{% endblock %}
