{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load rest_framework %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">

<h1>{{ project_name }}{{ UI_text.PAGE_TITLE.value }}</h1>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th class="project-reports-date-header">{{ UI_text.DATE_COLUMN_HEADER.value }}</th>
                <th class="project-reports-project-header">{{ UI_text.PROJECT_COLUMN_HEADER.value }}</th>
                <th class="project-reports-task-activity-header">{{ UI_text.TASK_ACTIVITY_HEADER.value }}</th>
                <th class="project-reports-author-header">{{ UI_text.AUTHOR_COLUMN_HEADER.value }}</th>
                <th class="project-reports-work-hours-header">{{ UI_text.WORK_HOURS_COLUMN_HEADER.value }}</th>
                <th class="project-reports-description-header">{{ UI_text.DESCRIPTION_COLUMN_HEADER.value }}</th>
                <th class="project-reports-creation-date-header">{{ UI_text.CREATION_DATE_COLUMN_HEADER.value }}</th>
                <th class="project-reports-last-update-header">{{ UI_text.LAST_UPDATE_COLUMN_HEADER.value }}</th>
                <th class="project-reports-editable-header">{{ UI_text.EDITED_COLUMN_HEADER.value }}</th>
                <td class="project-reports-edit-button-header Invisible"></td>
            </tr>
            {% for date, reports in reports_dict.items %}
            <tr>
                <td class="project-reports-date-column" rowspan={{ reports|length }}>
                    {{ date }}
                </td>
                {% for report in reports %}
                    {% if forloop.counter > 1 %}
                    <tr>
                    {% endif %}
                <td class="project-reports-project-column" >{{ report.project }}</td>
                <td class="project-reports-task-activity-column">{{ report.task_activities }}</td>
                <td class="project-reports-author-column">{{ report.author }}</td>
                <td class="project-reports-work-hours-column">{{ report.work_hours_str }}</td>
                <td class="project-reports-description-column">{{ report.markdown_description|safe }}</td>
                <td class="project-reports-creation-date-column">{{ report.creation_date }}</td>
                <td class="project-reports-last-update-column">{{ report.last_update }}</td>
                <td class="project-reports-editable-column">{{ report.editable|yesno:"False,True" }}</td>
                <td class="project-reports-edit-button-column Invisible">
                    <a class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% if not reports_dict.items %}
            <strong>{{ UI_text.NO_REPORTS_MESSAGE.value }}</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
