{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<h1>{{ UI_text.PAGE_TITLE.value }}{{ report.project }} ({{ report.date }})</h1>
</br>
<div class="modal-dialog">
    <form action="{% url 'custom-report-detail' pk=report.pk %}" method="POST">
       <div class="modal-dialog">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="{{ UI_text.UPDATE_REPORT_BUTTON.value }}">
            <button type="button" name="discard"><a href="{% url 'custom-report-list' object.date.year object.date.month %}">{{ UI_text.DISCARD_CHANGES_BUTTON.value }}</a></button>
            <button type="button" form="delete_form" id="opener">{{ UI_text.DELETE_REPORT_BUTTON.value }}</button>
       </div>
    </form>
    <form id="delete_form" action="{% url 'custom-report-delete' pk=report.pk %}" method="post">
        {% csrf_token %}
    </form>
</div>
<div id="dialog" title="{{ UI_text.DELETE_POPUP_TITLE.value }}">
    {{ UI_text.DELETE_POPUP_MESSAGE.value }}
</div>
{% endblock %}

{% block extra_script %}
  {{ form.media }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    var discard_text = "{{ UI_text.DELETE_POPUP_NO.value }}";
    var confirmation_text = "{{ UI_text.DELETE_POPUP_YES.value }}";
    var redirect_url =﻿"{% url 'custom-report-delete' pk=report.pk %}";
  </script>
  <script src="{% static 'employees/scripts/basic_popup_window.js' %}"></script>
{% endblock %}
