{% extends 'base.html' %}

{% load i18n %}
{% load rest_framework %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<h1>{{ UI_text.PAGE_TITLE.value }}{{ report.project }} ({{ report.date }})</h1>
</br>
<div class="modal-dialog">
    {% for error in errors.non_field_errors %}
    <h4><font color="red">{{ error }}</font></h4>
    {% endfor %}
    <form action="{% url 'custom-report-detail' pk=report.pk %}" method="POST">
        {% csrf_token %}
        {% render_form serializer template_pack='rest_framework/vertical' %}
        <input type="submit" value="{{ UI_text.UPDATE_REPORT_BUTTON.value }}">
        <input type="submit" name="discard" value="{{ UI_text.DISCARD_CHANGES_BUTTON.value }}">
        <input type="button" id="opener" value="{{ UI_text.DELETE_REPORT_BUTTON.value }}">
    </form>
</div>
<div id="dialog" title="{{ UI_text.DELETE_POPUP_TITLE.value }}">
    {{ UI_text.DELETE_POPUP_MESSAGE.value }}
</div>
{% endblock %}

{% block extra_script %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
      var discard_text = "{{ UI_text.DELETE_POPUP_NO.value }}";
      var confirmation_text = "{{ UI_text.DELETE_POPUP_YES.value }}";
      var redirect_url =﻿"{% url 'custom-report-delete' pk=report.pk %}";
    </script>
    <script src="{% static 'employees/scripts/basic_popup_window.js' %}"></script>
{% endblock %}