{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% load data_display_filters %}
{% load data_structure_element_selectors %}

{% block extra_head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'employees/popup_style.css' %}">
{% endblock %}

{% block content %}
  {% include "employees/month_navigation_bar.html" %}
  <h1>{{ UI_text.PAGE_TITLE.value }} {{ title_date }}</h1>

  <div class="container main-white-container">
    <button class="hidden-print btn btn-default double-space-margin-top" type="button" id="opener_create" style="border:none;">
      <span class="glyphicon glyphicon-edit" style="color:rgb(44, 119, 188);"></span> <font color="#2c77bc"><b>Add new entry</b></font>
    </button>

    {% include "employees/partial/create_and_join_dialog.html" %}

    <div class="container double-space-margin-top">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="date-header">{{ UI_text.DATE_COLUMN_HEADER.value }}</th>
              <th class="project-header">{{ UI_text.PROJECT_COLUMN_HEADER.value }}</th>
              <th class="task-activities-header">{{ UI_text.TASK_ACTIVITIES_COLUMN_HEADER.value }}</th>
              <th class="work-hours-header">{{ UI_text.WORK_HOURS_COLUMN_HEADER.value }}</th>
              <th>{{ UI_text.DESCRIPTION_COLUMN_HEADER.value }}</th>
              <td class="edit-button-header Invisible"></td>
            </tr>
          </thead>
          <tbody>
            {% regroup object_list by date as date %}
            {% for reports in date %}
              {% for report in reports.list %}
                {% if forloop.first %}
                  <td class="date-column" rowspan={{ reports.list|length }}><strong>{{ reports.grouper| date:"l, d F Y" }}</strong></td>
                {% else %}
                  <tr>
                {% endif %}
                  <td class="project-column">{{ report.project }}</td>
                  ﻿<td class="task-activities-column">{{ report.task_activities }}</td>
                  <td class="work-hours-column">{{ report.work_hours_str }}</td>
                  <td class="description-column">{{ report.description|safe|urlize|annotate_no_follow_link_with_css_class:"pagelink" }}
                  <td></td>
                  <td class="edit-button-column Invisible hidden-print">
                    {% if report.editable %}
                      <a href="{% url 'custom-report-detail' pk=report.id %}" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="3"><strong>{{ UI_text.HOURS_PER_DAY_LABEL.value }}</strong></td>
                <td class="work-hours-column"><strong>{{ daily_hours_sum|get_key_value:reports.grouper|duration_field_to_string }}</strong></td>
                <td></td>
                <td class="edit-button-column Invisible hidden-print"></td>
              </tr>
            {% endfor %}
            <tr>
              {% if not date|length == 0 %}
                <td colspan="3"><strong>{{ UI_text.HOURS_PER_MONTH_LABEL.value }}</strong></td>
                <td class="work-hours-column"><strong>{{ monthly_hours_sum|get_key_value:user.pk|duration_field_to_string }}</strong></td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        {% include "employees/partial/projects_work_percentage.html" %}
      </div>
    </div>

    {% if object_list %}
      <div class="double-space-margin-bottom">
        <a href="{% url 'export-data' pk=user.pk year=year month=month %}" class="btn btn-info">
          Export {{ month | convert_to_month_name }} {{ year }} Reports to XLSX
        </a>
        <a href="{% url 'export-data' pk=user.pk year=year month=month %}?format=csv" class="btn btn-info">
          Export {{ month| convert_to_month_name }} {{ year }} Reports to CSV
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extra_script %}
  {{ form.media }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  {{ month_form.media }}
  <script src="//code.jquery.com/jquery-3.3.1.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'employees/scripts/create_and_join_popup_window.js' %}"></script>
  {% if hide_join %}
    <script type="text/javascript">
      document.getElementById("join_form").hidden = true;
    </script>
  {% endif %}
  <script src="{% static 'employees/scripts/load_activities_for_project.js' %}"></script>
  {% if form.errors or form.non_field_errors%}
    <script type="text/javascript">
      var form_errors = true;
    </script>
  {% else %}
    <script type="text/javascript">
      var form_errors = false;
    </script>
  {% endif %}
{% endblock %}
